<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.gather.master.core.mapper.TbGaChannelRelationSpreadMapper" >
  <sql id="Base_Column_List" >
    id, relation_name, channel, channel_num, spread_value, client_type, relation_type, 
    create_time, update_time, ts_time, yn
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hz.gather.master.core.model.entity.TbGaChannelRelationSpread"  >
    select 
    <include refid="Base_Column_List" />
    from tb_ga_channel_relation_spread
    where 1=1
    <if test="spreadValue != null and spreadValue != '' " >
      and spread_value = #{spreadValue}
    </if>
    <if test="channel != null and channel != '' " >
      and channel = #{channel}
    </if>
    <if test="channelNum != null and channelNum != '' " >
      and channel_num = #{channelNum}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_ga_channel_relation_spread
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.hz.gather.master.core.model.entity.TbGaChannelRelationSpread" >
    insert into tb_ga_channel_relation_spread
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relationName != null" >
        relation_name,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="channelNum != null" >
        channel_num,
      </if>
      <if test="spreadValue != null" >
        spread_value,
      </if>
      <if test="clientType != null" >
        client_type,
      </if>
      <if test="relationType != null" >
        relation_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tsTime != null" >
        ts_time,
      </if>
      <if test="yn != null" >
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="relationName != null" >
        #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null" >
        #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="spreadValue != null" >
        #{spreadValue,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=BIT},
      </if>
      <if test="relationType != null" >
        #{relationType,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tsTime != null" >
        #{tsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.gather.master.core.model.entity.TbGaChannelRelationSpread" >
    update tb_ga_channel_relation_spread
    <set >
      <if test="relationName != null" >
        relation_name = #{relationName,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null" >
        channel_num = #{channelNum,jdbcType=VARCHAR},
      </if>
      <if test="spreadValue != null" >
        spread_value = #{spreadValue,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        client_type = #{clientType,jdbcType=BIT},
      </if>
      <if test="relationType != null" >
        relation_type = #{relationType,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tsTime != null" >
        ts_time = #{tsTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        yn = #{yn,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>