<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.gather.master.core.mapper.UMoneyListMapper" >
  <sql id="Base_Column_List" >
    id, member_id, reward_type, symbol_type, money, curday, curhour, curminute, create_time, 
    update_time, is_valid,out_trade_no
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hz.gather.master.core.model.entity.UMoneyList" >
    select 
    <include refid="Base_Column_List" />
    from u_money_list
    where 1=1
    <if test="memberId != null and memberId != '' " >
      and member_id = #{memberId}
    </if>
    <if test="outTradeNo != null and outTradeNo != '' " >
      and out_trade_no = #{outTradeNo}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_money_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.hz.gather.master.core.model.entity.UMoneyList" >
    insert into u_money_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="rewardType != null" >
        reward_type,
      </if>
      <if test="symbolType != null" >
        symbol_type,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="curday != null" >
        curday,
      </if>
      <if test="curhour != null" >
        curhour,
      </if>
      <if test="curminute != null" >
        curminute,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        #{rewardType,jdbcType=BIT},
      </if>
      <if test="symbolType != null" >
        #{symbolType,jdbcType=BIT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="curday != null" >
        #{curday,jdbcType=INTEGER},
      </if>
      <if test="curhour != null" >
        #{curhour,jdbcType=BIT},
      </if>
      <if test="curminute != null" >
        #{curminute,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=BIT},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.gather.master.core.model.entity.UMoneyList" >
    update u_money_list
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        reward_type = #{rewardType,jdbcType=BIT},
      </if>
      <if test="symbolType != null" >
        symbol_type = #{symbolType,jdbcType=BIT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="curday != null" >
        curday = #{curday,jdbcType=INTEGER},
      </if>
      <if test="curhour != null" >
        curhour = #{curhour,jdbcType=BIT},
      </if>
      <if test="curminute != null" >
        curminute = #{curminute,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 查询条件 -->
  <sql id="Example_Where_Clause">
    where 1=1
    <trim  suffixOverrides="," >
      <if test="id != null and id != '' " >
        and a.id = #{id}
      </if>
      <if test="memberId != null and memberId != '' " >
        and a.member_id = #{memberId}
      </if>
      and a.is_valid = 1
    </trim>
  </sql>

  <!-- 排序条件 -->
  <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>

  <!-- 查询总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
    select count(1)
    from u_money_list a
    <include refid="Example_Where_Clause"/>
  </select>

  <!-- 查询分页列表 -->
  <select id="queryByList" parameterType="Object" resultType="com.hz.gather.master.core.model.entity.UMoneyList">
    select
    <include refid="Base_Column_List" />
    from u_money_list a
    <include refid="Example_Where_Clause"/>
    <include refid="Example_Order_By"/>
    <if test="pageNumber != null and pageNumber != ''" >
      limit #{start},#{end}
    </if>
  </select>






  <!-- 查询总数-->
  <select id="countUMoneyList" resultType="java.lang.Integer"  parameterType="Object">
    select count(1)
    from u_money_list a
    <include refid="Example_Where_Clause"/>
  </select>

  <!-- 查询分页列表 -->
  <select id="getUMoneyList" parameterType="Object" resultType="com.hz.gather.master.core.model.entity.UMoneyList">
    select
    <include refid="Base_Column_List" />
    from u_money_list a
    <include refid="Example_Where_Clause"/>
    <include refid="Example_Order_By"/>
    <if test="pageNumber != null and pageNumber != ''" >
      limit #{start},#{end}
    </if>
  </select>
</mapper>