<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.gather.master.core.mapper.VcMemberMapper" >
  <sql id="Base_Column_List" >
    member_id, owner_member_id, member_add, nickname, phone, sex, birthday, country,
    province, city, password, member_code, member_type, invite_code, trading_address,
    create_time, is_active, login_time, device_id, superior_id, pay_password, extension_member_id,
    grade_type, is_questions, is_valid,benefit_member_id
  </sql>




  <sql id="Base_Column_myFriend" >
    a.member_id,  a.owner_member_id,  a.member_add,  a.nickname,  a.phone,  a.sex, a.birthday, a.country,
    a.province, a.city, a.password, a.member_code, a.member_type, a.invite_code,a.trading_address,
    a.create_time, a.is_active, a.login_time, a.device_id, a.superior_id, a.pay_password, a.extension_member_id,
    a.grade_type, a.is_questions, a.is_valid,a.benefit_member_id,b.total_money,b.push_people,b.team_people
  </sql>

  <select id="selectByPrimaryKey" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    <if test="memberId != null and memberId != '' " >
      and member_id = #{memberId}
    </if>
    <if test="phone != null and phone != '' " >
      and phone = #{phone}
    </if>
    <if test="inviteCode != null and inviteCode != '' " >
      and invite_code = #{inviteCode}
    </if>
    <if test="password != null and password != '' " >
      and password = #{password}
    </if>
    <if test="payPassword != null and payPassword != '' " >
      and pay_password = #{payPassword}
    </if>
    LIMIT  1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vc_member
    where member_id = #{memberId}
  </delete>
  <insert id="insertSelective" parameterType="com.hz.gather.master.core.model.entity.VcMember" >
    insert into vc_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="ownerMemberId != null" >
        owner_member_id,
      </if>
      <if test="memberAdd != null" >
        member_add,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="memberCode != null" >
        member_code,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="tradingAddress != null" >
        trading_address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="superiorId != null" >
        superior_id,
      </if>
      <if test="payPassword != null" >
        pay_password,
      </if>
      <if test="extensionMemberId != null" >
        extension_member_id,
      </if>
      <if test="gradeType != null" >
        grade_type,
      </if>
      <if test="isQuestions != null" >
        is_questions,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="benefitMemberId != null" >
        benefit_member_id,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="ownerMemberId != null" >
        #{ownerMemberId,jdbcType=INTEGER},
      </if>
      <if test="memberAdd != null" >
        #{memberAdd,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="memberCode != null" >
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=BIT},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="tradingAddress != null" >
        #{tradingAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="superiorId != null" >
        #{superiorId,jdbcType=INTEGER},
      </if>
      <if test="payPassword != null" >
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="extensionMemberId != null" >
        #{extensionMemberId,jdbcType=VARCHAR},
      </if>
      <if test="gradeType != null" >
        #{gradeType,jdbcType=BIT},
      </if>
      <if test="isQuestions != null" >
        #{isQuestions,jdbcType=CHAR},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=BIT},
      </if>
      <if test="benefitMemberId != null" >
        #{benefitMemberId,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hz.gather.master.core.model.entity.VcMember" >
    update vc_member
    <set >
      <if test="ownerMemberId != null" >
        owner_member_id = #{ownerMemberId},
      </if>
      <if test="memberAdd != null" >
        member_add = #{memberAdd},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname},
      </if>
      <if test="phone != null" >
        phone = #{phone},
      </if>
      <if test="sex != null" >
        sex = #{sex},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>
      <if test="province != null" >
        province = #{province},
      </if>
      <if test="city != null" >
        city = #{city},
      </if>
      <if test="password != null" >
        password = #{password},
      </if>
      <if test="memberCode != null" >
        member_code = #{memberCode},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode},
      </if>
      <if test="tradingAddress != null" >
        trading_address = #{tradingAddress},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId},
      </if>
      <if test="superiorId != null" >
        superior_id = #{superiorId},
      </if>
      <if test="payPassword != null" >
        pay_password = #{payPassword},
      </if>
      <if test="extensionMemberId != null" >
        extension_member_id = #{extensionMemberId},
      </if>
      <if test="gradeType != null" >
        grade_type = #{gradeType},
      </if>
      <if test="isQuestions != null" >
        is_questions = #{isQuestions},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid},
      </if>
      <if test="token != null" >
        token = #{token},
      </if>
    </set>
    where member_id = #{memberId}
  </update>

  <select id="selectByCodeOrAddress" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    and (invite_code = #{inviteCode} or trading_address  = #{tradingAddress} or token=#{token} )
  </select>



  <select id="selectBySuperiorId" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_myFriend" />
    from vc_member  a INNER JOIN  vc_member_resource b
    on a.member_id= b.member_id
    where 1=1
    and  a.superior_id  = #{superiorId}
  </select>





  <select id="selectByList" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    <if test="idList != null and idList.size()>0">
      and member_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    order by  create_time
  </select>


  <!-- 修改用户是否开启问答修改密码 -->
  <update id="updateMemberIsQuestions" parameterType="Object">
    update vc_member set is_questions =1 where member_id = #{memberId}
  </update>



  <select id="selectBySuperiorIdMember" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    and  grade_type!=0
    <if test="idList != null and idList.size()>0">
      and member_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>


  <select id="selectSuperiorIdList" resultType="com.hz.gather.master.core.model.entity.VcMember" >
    select
    <include refid="Base_Column_List" />
    from vc_member
    where 1=1
    <if test="idList != null and idList.size()>0">
      and superior_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    and  grade_type!=0
  </select>


</mapper>