<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.gather.master.core.mapper.VcMemberRewardTotalMapper" >
  <sql id="Base_Column_List" >
    id, member_id, total_money, curday, curhour, curminute, create_time, update_time, 
    is_valid
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hz.gather.master.core.model.entity.VcMemberRewardTotal">
    select 
    <include refid="Base_Column_List" />
    from vc_member_reward_total
    where member_id = #{memberId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vc_member_reward_total
    where member_id = #{memberId,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.hz.gather.master.core.model.entity.VcMemberRewardTotal" >
    insert into vc_member_reward_total
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="curday != null" >
        curday,
      </if>
      <if test="curhour != null" >
        curhour,
      </if>
      <if test="curminute != null" >
        curminute,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney},
      </if>
      <if test="curday != null" >
        #{curday},
      </if>
      <if test="curhour != null" >
        #{curhour},
      </if>
      <if test="curminute != null" >
        #{curminute},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.gather.master.core.model.entity.VcMemberRewardTotal" >
    update vc_member_reward_total
    <set >
      <if test="memberId != null" >
        member_id = #{memberId},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney},
      </if>
      <if test="curday != null" >
        curday = #{curday},
      </if>
      <if test="curhour != null" >
        curhour = #{curhour},
      </if>
      <if test="curminute != null" >
        curminute = #{curminute},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid},
      </if>
    </set>
    where id = #{id}
  </update>

</mapper>