<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.gather.master.core.mapper.VcMemberResourceMapper" >
  <sql id="Base_Column_List" >
    id, member_id, total_money, already_money, surplus_money, cash_money, push_people, 
    team_people, push_people_all, team_active_all, create_time, update_time, is_valid,people_all
  </sql>
  <select id="selectByPrimaryKey" resultType="com.hz.gather.master.core.model.entity.VcMemberResource">
    select 
    <include refid="Base_Column_List" />
    from vc_member_resource
    where member_id = #{memberId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vc_member_resource
    where id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    insert into vc_member_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="alreadyMoney != null" >
        already_money,
      </if>
      <if test="surplusMoney != null" >
        surplus_money,
      </if>
      <if test="cashMoney != null" >
        cash_money,
      </if>
      <if test="pushPeople != null" >
        push_people,
      </if>
      <if test="teamPeople != null" >
        team_people,
      </if>
      <if test="pushPeopleAll != null" >
        push_people_all,
      </if>
      <if test="teamActiveAll != null" >
        team_active_all,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="pushMoney != null" >
        push_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="memberId != null" >
        #{memberId},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney},
      </if>
      <if test="alreadyMoney != null" >
        #{alreadyMoney},
      </if>
      <if test="surplusMoney != null" >
        #{surplusMoney},
      </if>
      <if test="cashMoney != null" >
        #{cashMoney},
      </if>
      <if test="pushPeople != null" >
        #{pushPeople},
      </if>
      <if test="teamPeople != null" >
        #{teamPeople},
      </if>
      <if test="pushPeopleAll != null" >
        #{pushPeopleAll},
      </if>
      <if test="teamActiveAll != null" >
        #{teamActiveAll},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="isValid != null" >
        #{isValid},
      </if>
      <if test="pushMoney != null" >
        #{pushMoney},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="totalMoney != null" >
        total_money = #{totalMoney},
      </if>
      <if test="alreadyMoney != null" >
        already_money = #{alreadyMoney},
      </if>
      <if test="surplusMoney != null" >
        surplus_money = #{surplusMoney},
      </if>
      <if test="cashMoney != null" >
        cash_money = #{cashMoney},
      </if>
      <if test="pushPeople != null" >
        push_people = #{pushPeople},
      </if>
      <if test="teamPeople != null" >
        team_people = #{teamPeople},
      </if>
      <if test="pushPeopleAll != null" >
        push_people_all = #{pushPeopleAll},
      </if>
      <if test="teamActiveAll != null" >
        team_active_all = #{teamActiveAll},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid},
      </if>
      <if test="pushMoney != null" >
        push_money = #{pushMoney},
      </if>
      <if test="fissionMoney != null" >
        fission_money = #{fissionMoney},
      </if>
    </set>
    where member_id = #{memberId}
  </update>

  <update id="updateUpPeople" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="teamActiveAll != null" >
        team_active_all =team_active_all+ #{teamActiveAll},
      </if>
      <if test="pushPeopleAll != null" >
        push_people_all =push_people_all+ #{pushPeopleAll},
      </if>
    </set>
    where member_id = #{memberId}
  </update>

  <update id="updateUpPeopleAll" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="teamActiveAll != null" >
        team_active_all =team_active_all+ #{teamActiveAll},
      </if>
      <if test="pushPeopleAll != null" >
        push_people_all =push_people_all+ #{pushPeopleAll},
      </if>
      <if test="peopleAll != null" >
        people_all =people_all+ #{peopleAll},
      </if>
    </set>
    where 1=1
    <if test="memberId != null" >
     and  member_id = #{memberId}
    </if>
    <if test="idList != null and idList.size()>0">
      and member_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </update>





  <update id="updateByChargeMoney" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="pushPeople != null" >
        push_people =push_people+ #{pushPeople},
      </if>
      <if test="teamPeople != null" >
        team_people =team_people+ #{teamPeople},
      </if>
      <if test="totalMoney != null" >
        total_money =total_money+ #{totalMoney},
      </if>
      <if test="surplusMoney != null" >
        surplus_money =surplus_money+ #{surplusMoney},
      </if>
      <if test="fissionMoney != null" >
        fission_money = fission_money+ #{fissionMoney},
      </if>
    </set>
    where member_id = #{memberId}
  </update>


  <update id="updateByFissionPeople" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="fissionPeopleNum != null" >
        fission_people_num =fission_people_num + #{fissionPeopleNum},
      </if>
    </set>
    where member_id = #{memberId}
  </update>



  <update id="updateByCleanFissionPeople" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="fissionPeopleNum != null" >
        fission_people_num = #{fissionPeopleNum},
      </if>
    </set>
    where member_id = #{memberId}
  </update>


  <select id="selectEightFissionPeople" resultType="com.hz.gather.master.core.model.entity.VcMemberResource">
    select
    count(push_people)  push_people
    from vc_member_resource
    where 1=1
    <if test="idList != null and idList.size()>0">
      and member_id  in
      <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>


  <update id="updateCaseFail" parameterType="com.hz.gather.master.core.model.entity.VcMemberResource" >
    update vc_member_resource
    <set >
      <if test="surplusMoney != null" >
        surplus_money =surplus_money+ #{surplusMoney},
      </if>
      <if test="cashMoney != null" >
        cash_money = cash_money+ #{cashMoney},
      </if>
      <if test="totalMoney != null" >
        total_money = total_money+ #{totalMoney},
      </if>
      <if test="fissionMoney != null" >
        fission_money = fission_money+ #{fissionMoney},
      </if>
    </set>
    where member_id = #{memberId}
  </update>

</mapper>